@import '../../styles/variables.css';

.comments {
    position: relative;
    width: 100%;
    height:auto;
    max-width: 144rem;
    margin: 0 auto;
    min-height: 80rem;
    background: #ffff;
    overflow: hidden;
    padding: 4rem 0;
}
.container{
    padding-left:0rem;
}
.com-leaves-lb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 27rem;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.com-leaves-rb {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 27rem;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.com-background-flows {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-47%, -58%);
    width: 85%;
    height: auto;
    opacity:85%;
    pointer-events: none;
}
.line-animation {
    width: 100%;
    overflow: hidden;
    background: #F8DDE5;
    padding: 1.5rem 0;
    margin-bottom: 4rem;
    position: relative;
    z-index: 5;
}

.live-animation-text {
    font-family: var(--second-family);
    font-size: 2rem;
    font-weight: 400;
    color: black;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    letter-spacing: 2px;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.com-wrap {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 11rem 2rem;
}

.comment-title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: #000;
    margin-bottom: 4rem;
    position: relative;
}

.one-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    width: 100%;
    max-width: 137.7rem;
    margin: 0 auto;
}
.button_left,
.button_right {
    cursor: pointer !important;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border:none;
    box-shadow: none;
}
.button_left:active,
.button_right:active {
    transform: scale(0.95);
}
.button_left.disabled,
.button_right.disabled,
.button_left:disabled,
.button_right:disabled {
    opacity:40%;
}
.button-left-img,
.button-right-img {
    width: 3rem;
    height: auto;
    object-fit: contain;
    border:none;
    background: none;
}

.carousel-slide {
    width: 80rem;
    height: auto;
    border-radius: 3rem;
    cursor: pointer;
}


.comment-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}
.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #ddd;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
}

.dot.active {
    width:1rem;
    height:1rem;
    background: #fc9f9f;
}
