

.mainscreen {
    position: relative;
    width: 100%;
    max-width: 144rem; 
    margin: 0 auto;
    background: radial-gradient(67.53% 67.52% at 47.92% 59.47%, rgba(255, 245, 178, 0.7) 33.17%, rgba(252, 236, 131, 0.7) 52.4%, #fad07a 97.12%);
    min-height: 78.6rem; 
    overflow: hidden;
}
.leaves_lt,
.leaves_lb,
.leaves_rt,
.leaves_rb {
    position: absolute;
    opacity: 1;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.leaves_lt {
    left: 0;
    top: 0;
    width: 27rem; 
}

.leaves_lb {
    left: 0;
    bottom: 0;
    width: 27rem; 
}

.leaves_rt {
    right: 0;
    top: 0;
    width: 23rem; 
}

.leaves_rb {
    right: 0;
    bottom: 0;
    width: 27rem; 
}

.main-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
    min-height: 78.6rem;
}

.text-block { 
    flex: 1;
    z-index:1000;
    padding-top:10rem;
    padding-left:6rem;
    max-width: 50rem; 
    
}
.mini-text-block{ 
    flex: 1;
    padding-left:17rem;
    padding-top:3rem;
    max-width: 50rem; 
    
}

.title-img {
    width: 75rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom:2rem; /* 20px */
}

.sub-title {
    max-width: 35rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem; 
    line-height: 1.5;
    color: #000;
    margin-bottom: 2rem; 
}
.roses-mainscreen {
    flex: 1;
    z-index:2;
    max-width: 74rem; 
    height: auto;
    margin-right: 6rem; 
    margin-bottom:2rem;
    border-radius: 2rem; 
    object-fit: cover;
}



.mainscreen {
    position: relative;
    width: 100%;
    max-width: 144rem; 
    margin: 0 auto;
    background: radial-gradient(71.48% 71.47% at 47.92% 59.47%, 
                rgba(255, 232, 244, 0.7) 33.17%, 
                rgba(248, 162, 188, 0.7) 67.74%, 
                rgba(253, 138, 169, 0.7) 97.12%);
    min-height: 78.6rem; 
    overflow: hidden;
}
.leaves_lt,
.leaves_lb,
.leaves_rt,
.leaves_rb {
    position: absolute;
    opacity: 1;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.leaves_lt {
    left: 0;
    top: 0;
    width: 27rem; 
}

.leaves_lb {
    left: 0;
    bottom: 0;
    width: 27rem; 
}

.leaves_rt {
    right: 0;
    top: 0;
    width: 23rem; 
}

.leaves_rb {
    right: 0;
    bottom: 0;
    width: 27rem; 
}

.main-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
    min-height: 78.6rem;
}

.text-block { 
    flex: 1;
    z-index:1000;
    padding-top:10rem;
    padding-left:6rem;
    max-width: 50rem; 
    
}
.mini-text-block{ 
    flex: 1;
    padding-left:17rem;
    padding-top:3rem;
    max-width: 50rem; 
    
}

.title-img {
    width: 75rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom:2rem; /* 20px */
}

.sub-title {
    max-width: 35rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem; 
    line-height: 1.5;
    color: #000;
    margin-bottom: 2rem; 
}
.roses-mainscreen {
    flex: 1;
    z-index:2;
    max-width: 74rem; 
    height: auto;
    margin-right: 6rem; 
    margin-bottom:2rem;
    border-radius: 2rem; 
    object-fit: cover;
}

