
.header {
    width: 100%;
    height: 7rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(1rem); 
    -webkit-backdrop-filter: blur(1rem);
    background: rgba(164, 34, 34, 0.3);
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
    max-width: 140rem; 
    margin: 1rem ;
    padding: 0 0.5rem; 
}
.logo {
    width: 5rem;    
    height: 5rem; 
}

.nav {
    display: flex;
    gap: 8rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem; 
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap; 
}

.header-link:hover {
    text-decoration:dashed;
}

.auth_links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-right:5rem;
}
